.education {
    margin: 0 371px;
    padding: 80px 0 90px 0;
    min-height: 418px;
    position: relative;
    z-index: 0;
    background-image: url(../../images/fon1.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: top right;
}


.education__title {
    max-width: 780px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 129%;
}

.education__title-span {
    max-width: 780px;
    min-height: 134px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 129%;
    color: #F4D011;
}

.education__list {
    margin: 0;
    padding: 40px 0 38px 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 380px);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.education__list-item {
    margin: 0;
    padding: 0;
    height: 25px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    color: #FFFFFF;
    order: 1;
    flex-grow: 0;
}

.education__list-image {
    margin: 0 10px 0 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

.education__container {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 39px;
}

.education__button-cours {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 80px;
    width: 320px;
    height: 65px;
    left: 370px;
    top: 322px;
    background: #F4D011;
    box-shadow: 0px 4px 4px rgba(245, 207, 18, 0.25);
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #171717;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
}

.education__button-class {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    width: 320px;
    height: 65px;
    border-radius: 5px;
    border: 3px solid #F4D011;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #F4D011;
    order: 0;
    flex-grow: 0;
    gap: 80px;
    background: #252525;
    border: 3px solid #F4D011;
    box-shadow: 0px 4px 4px rgba(85, 85, 85, 0.25);
}

.education__image-priz {
    margin: 0;
    padding: 0;
    position: absolute;
    background-image: url(../../images/priz.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    width: 451px;
    height: 428px;
    right: -36px;
    top: 29px;
    z-index: -1;
}

@media screen and (max-width: 1845px) {
    .education {
        margin-left: 250px;
        margin-right: 250px;
    }


    .education__title {
        max-width: 680px;
        font-size: 42px;
    }

    .education__image {
        right: -100px;
        width: 587px;
        height: 325px;
        background-size: contain;
    }

    .education__image-priz {
        background-size: cover;
        width: 351px;
        height: 328px;
    }
}

@media screen and (max-width: 1350px) {
    .education {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 1108px) {
    .education {
        margin-left: 20px;
        margin-right: 20px;
    }

    .education__container {
        justify-content: center;
    }

    .education__image-priz {
        right: 20px;
    }
}

@media screen and (max-width: 850px) {
    .education {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .education__title {
        font-size: 34px;
        line-height: 132%;
        color: #FFFFFF;
    }

    .education__title-span {
        font-size: 34px;
        line-height: 132%;
    }

    .education__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        padding-bottom: 17px;
        padding-top: 18px;
    }

    .education__list-item {
        font-size: 14px;
        line-height: 136%;
    }

    .education__list-image {
        width: 18px;
        height: 18px;
    }

    .education__container {
        gap: 20px;
    }

    .education__container {
        flex-direction: column;
    }


}

@media screen and (max-width: 400px) {
    .education {
        height: 839px;
    }

    .education__button-cours {
        width: 100%;
    }

    .education__button-class {
        width: 100%;
    }

    .education__list-image {
        margin-bottom: 3px;
    }

    .education__image-priz {
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 280px;
        height: 260px;
        top: 505px;
    }
}