.page {
    background: #252525;
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    margin: 0 auto;
}

.page__content {
  
    color: #FFFF;
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
    
}

/* .page__content:nth-child(even) {
    background: black;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}