.school {
    margin: 0 370px;
    padding: 60px 0 0;
    background-image: url(../../images/school-fon.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: right -27% top -94%;
}

.school__rocket {
    margin: 0;
    padding: 0;
    background-image: url(../../images/rocket.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: right 6% top -11%;
}

.school__block {
    margin: 0;
    padding: 0;

}

.school__subtitle {
    margin: 0 20px 0 0;
    padding: 0;
    max-width: 780px;
    min-height: 75px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    color: #FFFFFF;
}

.school__list {
    margin: 22px 0 0;
    padding: 0;
    display: flex;
    gap: 60px;
}

.school__image {
    margin: 0;
    padding: 0;
}

.school__staff {
    margin: 110px 0 0;
    padding: 0;
    display: flex;
}

.school__left {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.school__scroll {
    margin: 0;
    padding: 0;
}

.school__scroll-image {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}

.school__user {
    margin: 0 0 0 40px;
    padding: 0;
    list-style: none;
    display: flex;
}

.school__user-item {
    margin: 0 41px 0 0;
    padding: 0;
    display: flex;
}

.school__image {
    margin: 0 20px 0 0;
    padding: 0;
}

.school__content {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 350px;
    min-height: 75px;
    align-items: baseline;
    flex-direction: column;
}

.school__name {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 141%;
    color: #FFFFFF;
}

.school__post {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    color: #FFFFFF;
    max-width: 299px;
    min-height: 94px;
}

@media screen and (max-width: 1845px) {
    .school {
        margin-left: 250px;
        margin-right: 250px;
        padding-top: 40px;
        background-position: right top -94%;
    }

    .school__image {
        width: 140px;
        height: 160px;
    }
}

@media screen and (max-width: 1108px) {
    .school {
        margin-left: 100px;
        margin-right: 100px;
        padding-top: 40px;
        background-position: right top -94%;
    }
}

@media screen and (max-width: 1108px) {
    .school {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 40px;
    }

    .school__list {
        justify-content: center;
    }

    .school__staff {
        margin-top: 70px;
        justify-content: center;
    }

    .school__user {
        margin: 0 0 0 40px;
        padding: 0;
        list-style: none;
        display: flex;
    }

    /* .school__user-item:nth-last-of-type(1) {
        display: none;
    } */
}

@media screen and (max-width: 744px) {
    .school {
        padding-top: 61px;
    }

    .school__rocket {
        background-position: right 6% top 48%;
    }

    .school__subtitle {
        margin-top: 13px;
        margin-right: 0;
    }

    .school__list {
        margin-top: 19px;
        flex-direction: column;
        gap: 5px;
    }

    .school__staff {
        margin-top: 370px;
    }

    .school__left {
        align-items: flex-end;
        height: 190px;
    }

    .school__user-item {
        margin-right: 0;
    }

    .school__user-item {
        flex-direction: column;
    }

    .school__image {
        width: 179px;
        height: 180px;
    }

    .school__name {
        margin-top: 20px;
        margin-left: 19px;
        font-size: 20px;
        line-height: 125%;
        text-align: center;
    }

    .school__post {
        width: 100%;
    }

}